us
.gradle
/local.properties
.DS_Store
/build
/captures
caches/gradle_models.ser
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/caches
.idea/libraries
.idea/.name